<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property scope="context" name="logDir" value="${de.jambonna.lolpapers.conf.app.varPath}/log/" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logDir}log.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{54} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
    
    <logger name="de.jambonna.lolpapers" level="DEBUG" />
    <logger name="de.jambonna.lolpapers.web.model.content.LanguageText" level="INFO" />

</configuration>
